
<!DOCTYPE html>
<html>
<head>
  <title>YOCA -Your On Call Assitant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../public/css/homestyle.css"></li>
  
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Playball" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />


   <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
   <script
   src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
   crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js">
  <!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <!--<link rel="stylesheet" href="js/bootstrap-datepicker.js">-->
  
</head>
<body>
 <div class="navbar navbar-fixed-top navbar-default" id="MagicMenu"><!--id="MagicMenu"-->
  <div class="container">
  
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a href="#index" class="navbar-brand">  <img class="visible-lg" src="../public/img/yoca-logo.png" height="40" width="210"></a>

      
 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
       <ul class="nav navbar-right navbar-nav">
        <li class="nav-item underline">
          <a class="nav-link" href="#index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link" href="#contactus">Contact Us</a>

        </li>
        <li>
          <a href="#"></a>
        </li>
      </ul>
     
    </div>    

  </div>
  </div>
</div> <!--/.navbar -->
<section id="index" class="first text-center">
  <div class="container showcase"> 
    <i class="icon fas fa-phone flip">
    <h1>Your On Call Assitant</h1></i>
    <p class="lead">YOCA is designed to add value to your team by joining with you to create a competitive advantage in the market place.
    </p>
  </div>
</section>



</section>


<section id="about" class="text-center" >

<!--
<div class="embed-responsive embed-responsive-16by9" >
<iframe class="embed-responsive-item"  src="https://vimeo.com/154503735"></iframe>
</div>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
        <iframe allowfullscreen="" src="http://player.vimeo.com/video/154503735" frameborder="0" width="500" height="281"></iframe>
        </div> 
     </div>
    </div>
  </div>
-->
 
      <div class="container">
        <div class="row">
          <h1>About us</h1>
          <br>
      
        
              
              <p>Watch the video to find out about us</p>
            
              <br>
            
              <div class="flex-video widescreen">
                  <iframe allowfullscreen="" src="https://player.vimeo.com/video/154503735" frameborder="0" width="500" height="281"></iframe>
              
            </div>
          
        </div>
      </div>
 
</section>

<section id="services" class="text-center" >
   
  
      <div class="container">
         <h1>Services</h1>
         <p class="service-header">"Delivering one on one solutions to bridge the gap of our clients"</p>
        <div class="row">
         
          <div id="service" class="col-md-4 col-sm-12 col-xs-12">
            
              <img src="../public/img/proven-expertise.png" >
              <h3>Administrative Services</h3>
              <p>Managing calendar, email and text. Confirming meetings. Making, returning and sending reminder calls. Planning travel, projects and events. Also includes data entry</p>
            </div>
          
          <!-- <div id="service" class="col-md-3 col-sm-12 col-xs-12">
            
              <img src="img/im.png">              
              <h3>Inventory Management</h2>
              <p>Managing calendar, email and text. Confirming meetings. Making, returning and sending reminder calls. Planning travel, projects and events. Also includes data entry</p>
          </div> -->
<!--           
          <div id="service" class="col-md-3 col-sm-12 col-xs-12">
           
              <img src="img/errand.png">
              <h3>Errand Services</h2>
              <p>Running personal and business errands to ease the burden of your busy daily lifestyle. Work/life balance can be accomplished when you need it most by simply reaching out to your on call assistant.</p>
          </div> -->
          
          <div id="service" class="col-md-4 col-sm-12 col-xs-12">        
              <img src="../public/img/itsol.png">
              <h3>IT Solutions</h2>
              <p>Provides strategic business and Information Technology (IT) solutions. From application servers to web design we offer end to end custom solutions to meet your business needs.</p>
          </div>
          
          <div id="service" class="col-md-4 col-sm-12 col-xs-12">
            
            <img src="../public/img/device-camera-icon.png">
            <h3>Videography & Photography</h3>
            <p>We produce cinema quality productions that will captivate and impress those you care about most. We use professional quality equipment and always provide professional staff to meet your needs.</p>
          
        </div>
        <div id="service" class="col-md-4 col-sm-12 col-xs-12">
            
          <img src="../public/img/process.jpg" >
          <h3>Process Improvement</h2>
          <p>Evaluating and providing value stream mapping to identify cost savings while creating lean solutions that create a competitive advantage.</p>
        
      </div>
        </div>
        
        <div class="row">
<!--          
          <div id="service" class="col-md-3 col-sm-12 col-xs-12">
            
              <img src="img/device-camera-icon.png">
              <h3>Videography & Photography</h3>
              <p>We produce cinema quality productions that will captivate and impress those you care about most. We use professional quality equipment and always provide professional staff to meet your needs.</p>
            
          </div> -->
          <!-- <div id="service" class="col-md-3 col-sm-12 col-xs-12">
            
              <img src="img/event-assistant.jpg">          
              <h3>Event Assistant</h2>
              <p>Teaming up to ensure that your plans and ideas are executed quickly and professionally, in order to build confidence that the day you envision will be a time to remember.</p>
            
          </div> -->
          <!-- <div id="service" class="col-md-3 col-sm-12 col-xs-12">
            
              <img src="img/answering-services.jpg">
              <h3>Answering Services</h2>
              <p>Will quickly handle all calls that are forwarded to my line and ensure that messages are emailed / texted immediately or important calls forwarded directly to you for your convenience.</p>
            
          </div> -->
          <!-- <div id="service" class="col-md-3 col-sm-12 col-xs-12">
            
              <img src="img/process.jpg" >
              <h3>Process Improvement</h2>
              <p>Evaluating and providing value stream mapping to identify cost savings while creating lean solutions that create a competitive advantage.</p>
            
          </div> -->
        </div>
      </div>
 
</section>
<br>
<section id="portfolio">
  <div class="container">
  <h3>Portfolio</h2>
    <br>
    <p class="lead animated fadeInRight">"Videography / Photography is a passion that started as a young child. I have always enjoyed
        capturing moments to reflect back on as the times change. My heart's passion is to capture the essence of
        the day so that time stands still as your memory is relived."</p>
    <br>
    <br>
    <div class="imageGrid">
        {{#each albums}}<!--  
        
         
        --><div class="tile" id ="{{this.id}}" style="background-image: url('{{this.imagelink}}')">
          <!--on clicking the tile fire a get request using -->
          <div class="textWrapper"><h2>"{{this.albumtitle}}"</h2>
            <div class="content">"{{this.description}}"</div>                       
          </div>
        </div><!--  
         -->{{/each}}
        <section class="tz-gallery container" id="startchange">            
          
            
                    <a id="test" class="lightbox" href="../public/img/rodrigue/rodrigues1.png">
                        <img src="../public/img/rodrigue/rodrigues1.png" alt="Bridge">
                    </a>
            
                    <a class="lightbox" href="img/rodrigue/rodrigues2.png">
                      <img src="../public/img/rodrigue/rodrigues2.png" alt="Bridge">
                    </a>
            
            
                    <a class="lightbox" href="img/rodrigue/rodrigues3.png">
                      <img src="../public/img/rodrigue/rodrigues3.png" alt="Bridge">
                    </a>
                    <a class="lightbox" href="img/rodrigue/rodrigues4.png" >
                      <img src="img/rodrigue/rodrigues4.png" alt="Bridge">
                    </a>
                    <a class="lightbox" href="img/rodrigue/rodrigues5.png">
                      <img src="img/rodrigue/rodrigues5.png" alt="Bridge">
                    </a>
                    <a class="lightbox" href="img/rodrigue/rodrigues6.png">
                      <img src="img/rodrigue/rodrigues6.png" alt="Bridge">
                    </a>
            
              
            
        </section>
        
      </div>
</div> 
</div>
</section>

          <br>
          <br>
          <br>
<form method="POST" action="send" class="container" id="contactus">

  <div class="row">

      <div class="col-lg-8 col-lg-offset-2">

          <h1>Contact US</h1>

          <p>Want to know more about our services? Give us a call at <strong>(812) 545-5121</strong> or drop us an <strong>email</strong> in the <strong>form</strong> below and we will get back to you as soon as we can.</p>
          <form id="contact-form" data-toggle="validator" role="form">
            {{msg}}
            <div class="messages"></div>
        
            <div class="controls">
        
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="name">Firstname *</label>
                            <input id="name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="lastname">Lastname *</label>
                            <input id="lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input id="email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input id="phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="form-group has-feedback" > <!-- Date input -->
                            <label class="control-label" for="date">Date</label>
                            
                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" style="cursor:pointer;"/>
                            <span class="glyphicon glyphicon-calendar form-control-feedback" style="cursor:pointer;"></span>
                        
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                    <label class="control-label" for="addrline1">Address Line 1</label>
                                
                                <input id="locationTextField" class="form-control" placeholder="Enter your address" name="addrline1" type="text" size="50">
                                {{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhfyekbl4Y9cqQJAnP2ULXjKkXEV0kiT0&libraries=places">
                                </script>
                                <script>
                                    function init() {
                                        var input = document.getElementById('locationTextField');
                                        var autocomplete = new google.maps.places.Autocomplete(input);
                                    }
            
                                    google.maps.event.addDomListener(window, 'load', init);
                                </script> --}}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                          <div class="form-group has-feedback" > <!-- Date input -->
                            <label class="control-label" for="addrline2">Address Line 2</label>                                
                            <input id="locationTextField" class="form-control" placeholder="Enter your address" name="addrline2" type="text" size="50">                        
                          </div>
                      </div>
                       <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                          <div class="form-group has-feedback" > <!-- Date input -->
                            <label class="control-label" for="city">City</label>                                
                            <input id="locationTextField" class="form-control" placeholder="Enter your City" name="city" type="text" size="50">                        
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                          <div class="form-group has-feedback" > <!-- Date input -->
                            <label class="control-label" for="state">State</label>                                
                            <input id="locationTextField" class="form-control" placeholder="Enter your State" name="state" type="text" size="50">                        
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                          <div class="form-group has-feedback" > <!-- Date input -->
                            <label class="control-label" for="zip">Zip Code</label>                                
                            <input id="locationTextField" class="form-control" placeholder="Enter your Zip Code" name="zip" type="text" size="50">                        
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                          <div class="form-group has-feedback" > <!-- Date input -->
                            <label class="control-label" for="country">Country</label>                                
                            <input id="locationTextField" class="form-control" placeholder="Enter your Country" name="country" type="text" size="50">                        
                          </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea id="message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success btn-send" value="Send message">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <p class="text-muted"><strong>*</strong> These fields are required.</p>
                    </div>
                </div>
            </div>
        
        </form>

      </div>

  </div>

</form>
<footer class="site-footer">
   
    
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
       <a href="#">Yoca</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
              
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/@yoca_online"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            
          </ul>
        </div>
      </div>
    </div>
</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/validator.min.js"></script>
    <script type="text/javascript" src="js/form-scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
  $('.navbar-collapse li a').click(function() {
    $(this).closest("li").addClass('underline').siblings().removeClass('underline');
    return(false);   // no default behavior from clicking on the link
});
var simulateClick = function (elem) {
	// Create our event (with options)
	var evt = new MouseEvent('click', {
		bubbles: true,
		cancelable: true,
		view: window
	});
	// If cancelled, don't dispatch our event
	var canceled = !elem.dispatchEvent(evt);
};
        var buttons = document.getElementsByClassName('tile');
        //console.log(buttons);
for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', function() {
  
        createGallery(this.id);
  
    baguetteBox.run('.tz-gallery',{animation: 'fadeIn',
    noScrollbars: true});
    var someLink = document.querySelector('#test');
    console.log(someLink);
    simulateClick(someLink);}
    );}

</script>
    <script>
            $(document).ready(function(){
              var date_input=$('input[name="date"]'); //our date input has the name "date"
              var container=$('#contactus form').length>0 ? $('#contactus form').parent() : "body";
              var options={
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
              };
              date_input.datepicker(options);
            })
            
        </script>
    <script>
    
  var shiftWindow = function() { scrollBy(0, -50) };
if (location.hash) shiftWindow();
window.addEventListener("hashchange", shiftWindow);
    </script>
    <!--<script type="text/javascript">
      $('.input-group.date').datepicker({format: "dd.mm.yyyy"}); 
    </script>-->
    <script>
      
      window.sr=ScrollReveal();
      /*sr.reveal('.navbar',{
        duration:2000,origin:'bottom'
      });*/
      sr.reveal('#service , #services h1,p,h3',{
        duration:2000,origin:'bottom',distance:'300px'
      });

      sr.reveal('#contactus h1,p,form',{
        duration:1000,origin:'bottom',distance:'300px'
      });
      sr.reveal('#about h1,p,.flex-video ',{
        duration:2000,origin:'bottom',distance:'300px'
      });
      sr.reveal('#portfolio h3,p,.imageGrid ',{
        duration:2000,origin:'bottom',distance:'300px'
      });
      //sr.reveal('#about',{
       // duration:2000,origin:'bottom',distance:'300px'
      //});
      //sr.reveal('a',{viewFactor:0.5});
      sr.reveal('.showcase',{
        duration:2000,origin:'bottom',distance:'300px'
      });
       
    </script>
 <script>
           $(".tz-gallery").hide();   
    
        $(document).ready(function() {
        var banner_height = $("#MagicMenu").height();
        var lastScrollTop = 0;
        $(window).scroll(function() {
          var scroll = $(window).scrollTop();
          var currScrollTop = $(this).scrollTop();
          if (scroll >= banner_height && currScrollTop > lastScrollTop) {
            //$("#banner").hide();
            $("#MagicMenu .navbar-collapse .nav .nav-item a").css('color','black');
            $(".navbar").css('background',' white');
          } else {
            //$("#banner").show();
            $("#MagicMenu .navbar-collapse .nav .nav-item a").css('color','white');
            $(".navbar").css('background',' transparent');
          }
          lastScrollTop = currScrollTop;
      
        });
      
      });
        </script>
        <script>
          function createGallery(id){
            $('.tz-gallery').empty();
            var xhr=new XMLHttpRequest();
            xhr.open('GET',' https://api.imgur.com/3/account/sharanya17410/album/'+id,true);
            xhr.setRequestHeader('Authorization','Client-ID c2049e40de14fa8');
            xhr.onload = function(){
                if(this.status == 200){
                    var response = JSON.parse(this.responseText);         
                    var output='';                    
                    for(var i=0;i< response.data.images.length;i++){
                      if(i==0){
                        output+='<a class="lightbox" id="test" href=" '+response.data.images[i].link+'">'+
                            '<img src="'+response.data.images[i].link+'" alt="">'+
                        '</a>';}
                        else{
                          output+='<a class="lightbox" href=" '+response.data.images[i].link+'">'+
                            '<img src="'+response.data.images[i].link+'" alt="">'+
                        '</a>';
                        }
                        }
                        console.log(output);
                        document.querySelector('.tz-gallery').innerHTML=output;
                        baguetteBox.run('.tz-gallery',{animation: 'fadeIn',
    noScrollbars: true});
    var someLink = document.querySelector('#test');
    console.log(someLink);
simulateClick(someLink);
                    
                }
            }
            xhr.send();
        }
        </script>
   <script>
    $(function() {
      // Smooth Scrolling
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script> 
</body>
</html>
